@using Pastore.ViewModels
@model LoginViewModel

<div class="pastore_modal">
    <div class="modal_container">
        <div class="modal_container__close">
            <i class="fa fa-times-circle"></i>
        </div>
        <div class="modal_container__content">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form_modal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Log in</h4>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form_modal__group">
                    @Html.LabelFor(m => m.UserName, new { @class = "form_modal__label" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "" })
                </div>
                <div class="form_modal__group">
                    @Html.LabelFor(m => m.Password, new { @class = "form_modal__label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "" })
                </div>
                <div class="form_modal__group">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
                <div class="form_modal__group">
                    <input type="submit" value="Log in" class="" />
                </div>
            }
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </div>
    </div>
</div>
<script>
    $(function() {
        $('.pastore_modal').pastoreModal();
    });
</script>
